@use '@/styles/variables' as v;

.overlapContainer {
  position: relative;
  background: v.$background;
  z-index: 3;

  &.animate {
    animation: slideUpOverlap 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    
    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}

@keyframes slideUpOverlap {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

// Варианты наезжания
.overlap-small {
  margin-top: -1rem;
  padding-top: 1rem;
}

.overlap-medium {
  margin-top: -2rem;
  padding-top: 2rem;
}

.overlap-large {
  margin-top: -3rem;
  padding-top: 3rem;
}

// Варианты скругления
.radius-small {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.radius-medium {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.radius-large {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}