// BurgerMenuButton.module.scss
@use '@/styles/variables' as v;

.burgerButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.75rem;
  z-index: 1002;
  position: fixed;
  top: 0.75rem;
  right: 1.5rem;
  width: 40px;
  height: 40px;
  
  @media (max-width: v.$tablet) {
    display: block;
  }

  &:hover {
    .line {
      background-color: v.$surface;
    }
  }
}

.line {
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background-color: v.$surface;
  border-radius: 1px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  left: 8px;

  &:nth-child(1) {
    top: 13px;
  }

  &:nth-child(2) {
    top: 19px;
  }

  &:nth-child(3) {
    top: 25px;
  }

  .scrolled & {
    background-color: v.$accent;
  }
}

/* Состояние открыто (крестик) */
.open {
  .line {
    background-color: v.$surface !important;

    &:nth-child(1) {
      transform: rotate(45deg);
      top: 19px;
      width: 24px;
    }

    &:nth-child(2) {
      opacity: 0;
      transform: scaleX(0);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
      top: 19px;
      width: 24px;
    }
  }
}